/* Var Colors */



:root {
    --primary-color: #0f1724; 
    --secondary-color: #303e4d; 
    --tertiary-color: #485b71;
    --footer-color: #262f3e;            
    --text-color-primary: #f1f1f1;        
    --text-color-secondary: #aeb9c2;      
    --text-color-tertiary: #ced7e0;       
    --button-color: #6287a7;             
    
    }










