.button {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
    color: var(--text-color-terciary) ;
    background-color: var(--button-color) ;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    user-select: none;
    border: 1px solid transparent;
    box-sizing: border-box;
    text-decoration: none;
    transition: color .15s ease-in-out,
    background-color .15s ease-in-out,border-color
     .15s ease-in-out,box-shadow .15s ease-in-out;
}

.button:hover {
    text-decoration: none;
    color:var(--text-color-terciary) ;
}