/* Var Colors */





:root {
    --primary-color: #f5f5f5; 
    --secondary-color: #2196f3; 
    --tertiary-color: #e0e0e0; 
    --footer-color: #fafafa;           
    --text-color-primary: #333;    
    --text-color-secondary: #fff; 
    --text-color-tertiary: #777;   
    --button-color: #4caf50;       
    
    }
