

body {
    display: grid;
    /* Dividi a tela 2 fragmentos para sidebar - 8 para o restante */
    grid-template-columns: 2fr 8fr;
    /* Defini que terei 3 linhas sendo Header, Content, Footer */
    grid-template-rows: 64px 1fr 64px;
/* Definindo o que cada parte irá receber ou seja dos 2fr e 8fr estou posicionando meus itens neles */
    grid-template-areas: 
    "header header"
    "sidebar main"
    "sidebar footer"
    ;
    height: 100vh;
    margin: 0;
    background-color: #c9c9c9 !important;

 }

 body.hide-sidebar {
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
 }



    

    /* Additional Details */

    .division {
        width: 80%;
        border: solid 1px #bebebe;
    }

    .record {
        font-size: 2.3rem;
    }

    ::selection {
        color: transparent;
        background-color: transparent;
    }

    .img-class {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }