/* Var Colors */

/*

:root {
    --primary-color: #080808;           
    --secondary-color: #1976d2;     
    --tertiary-color: #212529;      

    --footer-color: #222;            

    --text-color-primary: #fff;     
    --text-color-secondary: #fff;   
    --text-color-tertiary: #ccc;    

    --button-color: #4caf50;        
}

*/



:root {
    
    --primary-color: #f1f1f1;
    --secundary-color: #1976d2;
    --terciary-color: #212529;

    --footer-color: #222;

    --text-color-primary: #444;
    --text-color-secudary: #999;
    --text-color-terciary: #fff;

    --button-color: #28a745;

}

/*


/*

Theme minimalistico

:root {
    --primary-color: #818181;       
    --secondary-color: #1976d2;      
    --tertiary-color: #212529;      

    --footer-color: #222;           

    --text-color-primary: #f1f1f1;   
    --text-color-secondary: #0f0f0f;    
    --text-color-tertiary: #fff;     

    --button-color: #28a745;       
}


*/

